@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:ital,wght@1,300&family=Rye&family=Source+Sans+Pro:ital,wght@1,200&display=swap');


*{
	box-sizing: border-box;
}


:root{
	--primary-color: #d1d5db;
	--secondary-color:  #b91c1c;
}

body{
	margin: 0px;
	background-color: #1f1c1a;
}
main{
	text-align: center;
	margin: auto;
	padding: 1rem;
	max-width: 600px;
}

.container-child {
	text-align: center;
}

.container-child bottom{
	margin-right: 1rem;
}


.container-child .heading {
	color: var(--secondary-color);
	font-family: 'Rye', cursive;
	font-size: 4rem;
	padding-bottom: 2rem;
}

.container-child h3 {
	color: var(--secondary-color);
	margin-bottom: 0px;
}

.container-child img{
	height: 60vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


textarea{
	width: 100%;
	height: 20vh;
	padding: 1rem;
	background-color: var(--primary-color);
	display: block;
	font-size: large;
	margin-top: 2rem;
}

#btn-translate{
	color: var(--secondary-color);
	font-weight: bold;
	font-size: large;
	background-color: transparent;
	display: block;
	font-family: 'Rye', cursive;
	padding: 1rem 2rem;
	margin-top: 1rem;
    cursor: pointer;
}

#output{
	width: 100%;
	height: 20vh;
	padding:  1rem;
	margin-top: 1rem;
	border: 1px solid black;
	background-color: var(--primary-color);
	overflow: scroll;
}

footer{
	color: var(--primary-color);
	text-align: center;
	width: 100%;
	padding: 1rem;
}

footer h2{
	font-family: 'Rye', cursive;
	color: var(--secondary-color);
}

footer p{
	max-width: 600px;
	margin: auto;
}